.W {
  background-color: #ffffff;
}

.Y {
  background-color: #f2f215;
}

.O {
  background-color: #ffaf1c;
}

.R {
  background-color: #ed3030;
}

.G {
  background-color: #58d568;
}

.B {
  background-color: #1c5ffe;
}

#block {
  /* (60 - border) / 2 = margin */
  width: 55px;
  height: 55px;
  margin: 2px;
  border: 1px black solid;
}
