.W {
  background-color: #ffffff;
}

.Y {
  background-color: #f2f215;
}

.O {
  background-color: #ffaf1c;
}

.R {
  background-color: #ed3030;
}

.G {
  background-color: #58d568;
}

.B {
  background-color: #1c5ffe;
}

#block {
  /* width + 2 * margin + border = face width
   * height + 2 * margin + border = face height
   */
  width: 48px;
  height: 48px;
  margin: 0.5px;
  border: 1px black solid;
  border-radius: 4px;
}
